*~
.hydra
*pyc
datasets
!libero/datasets/
libero/datasets/*
!libero/datasets/README.md
results
outputs/*
/MUJOCO_LOG.TXT
wandb
experiments/
experiments_saved/
clip/
gpt/
bert/
logs/

*.mp4
libero.egg-info/
.vscode/
